<a href="https://colab.research.google.com/github/Shavina-143/DSPL_Individual_CW/blob/main/DSPL_Individual_CW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Load data
df = pd.read_csv("consumer-price-indices_lka.csv"  )

In [3]:
df.head(10)

,Iso3,StartDate,EndDate,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Note
0,#country+code,#date+start,#date+end,NaN,NaN,#country+name,#indicator+code,#indicator+name,NaN,NaN,NaN,NaN,NaN,#date+year,#indicator+type,#indicator+value+num,NaN,NaN
1,LKA,2000-01-01,2000-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2000.0,2000,NaN,18.927786,I,base year is 2015
2,LKA,2001-01-01,2001-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2001.0,2001,NaN,22.774871,I,base year is 2015
3,LKA,2002-01-01,2002-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2002.0,2002,NaN,25.301758,I,base year is 2015
4,LKA,2003-01-01,2003-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2003.0,2003,NaN,29.623325,I,base year is 2015
5,LKA,2004-01-01,2004-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2004.0,2004,NaN,29.812539,I,base year is 2015
6,LKA,2005-01-01,2005-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2005.0,2005,NaN,34.777004,I,base year is 2015
7,LKA,2006-01-01,2006-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2006.0,2006,NaN,37.943812,I,base year is 2015
8,LKA,2007-01-01,2007-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2007.0,2007,NaN,44.464208,I,base year is 2015
9,LKA,2008-01-01,2008-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2008.0,2008,NaN,56.289981,I,base year is 2015

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Iso3             880 non-null    object
 1   StartDate        880 non-null    object
 2   EndDate          880 non-null    object
 3   Area Code        879 non-null    float64
 4   Area Code (M49)  879 non-null    object
 5   Area             880 non-null    object
 6   Item Code        880 non-null    object
 7   Item             880 non-null    object
 8   Element Code     879 non-null    float64
 9   Element          879 non-null    object
 10  Months Code      879 non-null    float64
 11  Months           879 non-null    object
 12  Year Code        879 non-null    float64
 13  Year             880 non-null    object
 14  Unit             286 non-null    object
 15  Value            880 non-null    object
 16  Flag             879 non-null    object
 17  Note             594 non-null    object
dtypes: float64(4), object(14)
memory usage: 123.9+ KB

In [5]:
list(df.columns)

['Iso3',
 'StartDate',
 'EndDate',
 'Area Code',
 'Area Code (M49)',
 'Area',
 'Item Code',
 'Item',
 'Element Code',
 'Element',
 'Months Code',
 'Months',
 'Year Code',
 'Year',
 'Unit',
 'Value',
 'Flag',
 'Note']

In [6]:
df.describe()

       Area Code  Element Code  Months Code    Year Code
count      879.0    879.000000   879.000000   879.000000
mean        38.0   6123.703072  7006.453925  2012.040956
std          0.0      1.873415     3.440328     7.060955
min         38.0   6121.000000  7001.000000  2000.000000
25%         38.0   6121.000000  7003.000000  2006.000000
50%         38.0   6125.000000  7006.000000  2012.000000
75%         38.0   6125.000000  7009.000000  2018.000000
max         38.0   6125.000000  7012.000000  2024.000000

In [7]:
df.isnull().sum()

Iso3                 0
StartDate            0
EndDate              0
Area Code            1
Area Code (M49)      1
Area                 0
Item Code            0
Item                 0
Element Code         1
Element              1
Months Code          1
Months               1
Year Code            1
Year                 0
Unit               594
Value                0
Flag                 1
Note               286
dtype: int64

In [8]:
#missing value percentage
missing_percentage = (df.isnull().sum() / len(df)) * 100
print(missing_percentage)

Iso3                0.000000
StartDate           0.000000
EndDate             0.000000
Area Code           0.113636
Area Code (M49)     0.113636
Area                0.000000
Item Code           0.000000
Item                0.000000
Element Code        0.113636
Element             0.113636
Months Code         0.113636
Months              0.113636
Year Code           0.113636
Year                0.000000
Unit               67.500000
Value               0.000000
Flag                0.113636
Note               32.500000
dtype: float64

In [9]:
# Remove metadata row
df = df.iloc[1:].copy()
df.head()

,Iso3,StartDate,EndDate,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Note
1,LKA,2000-01-01,2000-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2000.0,2000,NaN,18.927786,I,base year is 2015
2,LKA,2001-01-01,2001-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2001.0,2001,NaN,22.774871,I,base year is 2015
3,LKA,2002-01-01,2002-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2002.0,2002,NaN,25.301758,I,base year is 2015
4,LKA,2003-01-01,2003-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2003.0,2003,NaN,29.623325,I,base year is 2015
5,LKA,2004-01-01,2004-01-31,38.0,'144,Sri Lanka,23013,"Consumer Prices, Food Indices (2015 = 100)",6125.0,Value,7001.0,January,2004.0,2004,NaN,29.812539,I,base year is 2015

In [10]:
# Convert columns to appropriate types
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')
df['StartDate'] = pd.to_datetime(df['StartDate'], errors='coerce')
df['EndDate'] = pd.to_datetime(df['EndDate'], errors='coerce')
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
df['Months'] = df['Months'].astype(str)

In [11]:
#drop columns
df.drop(columns=[ 'Iso3', 'Area Code', 'Area Code (M49)', 'Area', 'Element Code', 'Element', 'Months Code', 'Year Code', 'Unit', 'Flag', 'Note'], inplace=True)

In [12]:
df.head()

,StartDate,EndDate,Item Code,Item,Months,Year,Value
1,2000-01-01,2000-01-31,23013,"Consumer Prices, Food Indices (2015 = 100)",January,2000,18.927786
2,2001-01-01,2001-01-31,23013,"Consumer Prices, Food Indices (2015 = 100)",January,2001,22.774871
3,2002-01-01,2002-01-31,23013,"Consumer Prices, Food Indices (2015 = 100)",January,2002,25.301758
4,2003-01-01,2003-01-31,23013,"Consumer Prices, Food Indices (2015 = 100)",January,2003,29.623325
5,2004-01-01,2004-01-31,23013,"Consumer Prices, Food Indices (2015 = 100)",January,2004,29.812539

In [13]:
#rename columns
df.rename(columns={
    "StartDate": "Start_Date",
    "EndDate": "End_Date",
    "Item Code": "Item_Code",
    "Item": "Indicator",
    "Months": "Month",
    "Value": "CPI_Value"
}, inplace=True)

In [14]:
df.head()

,Start_Date,End_Date,Item_Code,Indicator,Month,Year,CPI_Value
1,2000-01-01,2000-01-31,23013,"Consumer Prices, Food Indices (2015 = 100)",January,2000,18.927786
2,2001-01-01,2001-01-31,23013,"Consumer Prices, Food Indices (2015 = 100)",January,2001,22.774871
3,2002-01-01,2002-01-31,23013,"Consumer Prices, Food Indices (2015 = 100)",January,2002,25.301758
4,2003-01-01,2003-01-31,23013,"Consumer Prices, Food Indices (2015 = 100)",January,2003,29.623325
5,2004-01-01,2004-01-31,23013,"Consumer Prices, Food Indices (2015 = 100)",January,2004,29.812539

In [15]:
# Reset index
df.reset_index(drop=True, inplace=True)

In [16]:
df.isnull().sum()

Start_Date    0
End_Date      0
Item_Code     0
Indicator     0
Month         0
Year          0
CPI_Value     0
dtype: int64

In [17]:
#duplicate
df.duplicated().sum()

np.int64(0)

In [18]:
# Save to new CSV
df.to_csv("cleaned_cpi_sri_lanka.csv", index=False)